/* line 9, ../compass/sass/styles.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #B2B1CF;
  background: url(../css/img/SG.jpg) no-repeat bottom center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 22, ../compass/sass/styles.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 27, ../compass/sass/styles.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

/* line 41, ../compass/sass/styles.scss */
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  /* line 41, ../compass/sass/styles.scss */
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

/* line 53, ../compass/sass/styles.scss */
a {
  color: #42DCA3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 58, ../compass/sass/styles.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #1d9b6c;
}

/* line 65, ../compass/sass/styles.scss */
.light {
  font-weight: 400;
}

/* line 69, ../compass/sass/styles.scss */
.dev-logo {
  max-width: 50%;
}

/* line 73, ../compass/sass/styles.scss */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(178, 177, 207, 0.3);
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: black;
}
/* line 80, ../compass/sass/styles.scss */
.navbar-custom .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #B2B1CF;
}
/* line 84, ../compass/sass/styles.scss */
.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
  outline: none;
}
/* line 89, ../compass/sass/styles.scss */
.navbar-custom .navbar-brand {
  font-weight: 700;
}
/* line 91, ../compass/sass/styles.scss */
.navbar-custom .navbar-brand:focus {
  outline: none;
}
/* line 94, ../compass/sass/styles.scss */
.navbar-custom .navbar-brand .dIcon {
  display: inline;
  max-width: 20px;
  background: no-repeat;
  margin-bottom: 9px;
  color: #B2B1CF;
}
/* line 102, ../compass/sass/styles.scss */
.navbar-custom a {
  color: #B2B1CF;
}
/* line 107, ../compass/sass/styles.scss */
.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
/* line 111, ../compass/sass/styles.scss */
.navbar-custom .nav li a:hover {
  color: rgba(178, 177, 207, 0.8);
  outline: none;
  background-color: transparent;
}
/* line 116, ../compass/sass/styles.scss */
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
/* line 122, ../compass/sass/styles.scss */
.navbar-custom .nav li.active {
  outline: none;
}
/* line 124, ../compass/sass/styles.scss */
.navbar-custom .nav li.active a {
  background-color: rgba(178, 177, 207, 0.3);
}
/* line 126, ../compass/sass/styles.scss */
.navbar-custom .nav li.active a:hover {
  color: #B2B1CF;
}
@media (min-width: 768px) {
  /* line 73, ../compass/sass/styles.scss */
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  /* line 141, ../compass/sass/styles.scss */
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(178, 177, 207, 0.3);
  }
}

/* line 149, ../compass/sass/styles.scss */
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #B2B1CF;
  background: url(../css/img/wotan.jpg) no-repeat top center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
/* line 162, ../compass/sass/styles.scss */
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.9) 85%, black);
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.9) 85%, black);
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9) 85%, black);
}
/* line 170, ../compass/sass/styles.scss */
.intro .intro-body .brand-heading {
  font-size: 40px;
}
/* line 173, ../compass/sass/styles.scss */
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  /* line 149, ../compass/sass/styles.scss */
  .intro {
    height: 100%;
    padding: 0;
  }
  /* line 180, ../compass/sass/styles.scss */
  .intro .intro-body {
    text-shadow: 2px 2px 2px black;
  }
  /* line 182, ../compass/sass/styles.scss */
  .intro .intro-body .brand-heading {
    font-size: 40px;
  }
  /* line 185, ../compass/sass/styles.scss */
  .intro .intro-body .intro-text {
    font-size: 18px;
  }
}

/* line 191, ../compass/sass/styles.scss */
.purple-btn-circle {
  color: #B2B1CF;
  border: 2px solid #B2B1CF;
}
/* line 194, ../compass/sass/styles.scss */
.purple-btn-circle:hover, .purple-btn-circle:focus {
  color: #B2B1CF;
  background: rgba(178, 177, 207, 0.4);
}

/* line 201, ../compass/sass/styles.scss */
.blue-btn-circle {
  color: #98D3EA;
  border: 2px solid #98D3EA;
}
/* line 204, ../compass/sass/styles.scss */
.blue-btn-circle:hover, .blue-btn-circle:focus {
  color: #98D3EA;
  background: rgba(152, 211, 234, 0.4);
}

/* line 211, ../compass/sass/styles.scss */
.black-btn-circle {
  color: black;
  border: 2px solid black;
}
/* line 214, ../compass/sass/styles.scss */
.black-btn-circle:hover, .black-btn-circle:focus {
  color: black;
  background: rgba(0, 0, 0, 0.4);
}

/* line 220, ../compass/sass/styles.scss */
.white-btn-circle {
  color: white;
  border: 2px solid white;
}
/* line 223, ../compass/sass/styles.scss */
.white-btn-circle:hover, .white-btn-circle:focus {
  color: white;
  background: rgba(255, 255, 255, 0.4);
}

/* line 230, ../compass/sass/styles.scss */
.light-btn-circle {
  color: #E2EBFF;
  border: 2px solid #E2EBFF;
}
/* line 233, ../compass/sass/styles.scss */
.light-btn-circle:hover, .light-btn-circle:focus {
  color: #E2EBFF;
  background: rgba(226, 235, 255, 0.4);
}

/* line 239, ../compass/sass/styles.scss */
.btn-circle, .black-btn-circle, .purple-btn-circle, .light-btn-circle, .blue-btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding-left: 10px;
  border-radius: 100% !important;
  font-size: 40px;
  overflow: hidden;
  background: transparent;
  -webkit-transition: background .50s ease-in-out;
  -moz-transition: background .50s ease-in-out;
  transition: background .50s ease-in-out;
}
/* line 251, ../compass/sass/styles.scss */
.btn-circle:hover, .btn-circle:focus, .black-btn-circle:hover, .black-btn-circle:focus, .purple-btn-circle:hover, .purple-btn-circle:focus, .light-btn-circle:hover, .light-btn-circle:focus, .blue-btn-circle:hover, .blue-btn-circle:focus {
  outline: none;
}
/* line 255, ../compass/sass/styles.scss */
.btn-circle i.turn, .black-btn-circle i.turn, .purple-btn-circle i.turn, .light-btn-circle i.turn, .blue-btn-circle i.turn {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 261, ../compass/sass/styles.scss */
.btn-circle i.up, .black-btn-circle i.up, .purple-btn-circle i.up, .light-btn-circle i.up, .blue-btn-circle i.up {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
/* line 269, ../compass/sass/styles.scss */
.btn-circle:hover .animated, .black-btn-circle:hover .animated, .purple-btn-circle:hover .animated, .light-btn-circle:hover .animated, .blue-btn-circle:hover .animated {
  -webkit-animation-name: passing;
  -moz-animation-name: passing;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

/* line 281, ../compass/sass/styles.scss */
.logo-wrapper {
  margin-bottom: 50px;
  padding-top: 0;
}

/* line 286, ../compass/sass/styles.scss */
.rocketGo {
  display: none;
  position: absolute;
}

@-webkit-keyframes passing {
  from {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
}
@-moz-keyframes passing {
  from {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
}
@-webkit-keyframes flying {
  from {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
}
@-moz-keyframes flying {
  from {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
}
/* line 376, ../compass/sass/styles.scss */
.container {
  width: 100%;
}

/* line 379, ../compass/sass/styles.scss */
#portfolio {
  text-shadow: 2px 2px 2px black;
  background-color: #77615C;
  background: -webkit-linear-gradient(transparent, #77615C 80%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, #77615C 80%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, #77615C 80%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, #77615C 80%);
  /* Standard syntax */
}
/* line 386, ../compass/sass/styles.scss */
#portfolio .modal {
  text-shadow: none;
}
/* line 388, ../compass/sass/styles.scss */
#portfolio .modal .btn {
  font-weight: 900;
}

/* line 394, ../compass/sass/styles.scss */
.portfolio-section {
  width: 100%;
  color: #B2B1CF;
  background-color: transparent;
}
/* line 398, ../compass/sass/styles.scss */
.portfolio-section .thumb-sect {
  margin-left: -40px;
  margin-right: 10px;
}

/* line 404, ../compass/sass/styles.scss */
.modal {
  color: #00E676;
  background: rgba(178, 177, 207, 0.4);
}

/* line 409, ../compass/sass/styles.scss */
.modal-content {
  background-color: black;
}

/* line 413, ../compass/sass/styles.scss */
.modal-footer {
  text-align: center;
}

/* line 418, ../compass/sass/styles.scss */
#contact {
  background: -webkit-linear-gradient(transparent, black 80%);
  background: -o-linear-gradient(transparent, black 80%);
  background: linear-gradient(transparent, black 80%);
  color: #98D3EA;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
}
/* line 425, ../compass/sass/styles.scss */
#contact #contact-form {
  display: inline-block;
}
/* line 428, ../compass/sass/styles.scss */
#contact .form-control {
  border-radius: 0px 5px 5px 0px;
}
/* line 431, ../compass/sass/styles.scss */
#contact .fa {
  color: #98D3EA;
}
/* line 434, ../compass/sass/styles.scss */
#contact .fa-envelope {
  color: #42DCA3;
}
/* line 437, ../compass/sass/styles.scss */
#contact .input-group-addon {
  background-color: #666;
}
/* line 440, ../compass/sass/styles.scss */
#contact .blue-btn-circle {
  padding-left: 7px;
}
/* line 443, ../compass/sass/styles.scss */
#contact .blue-btn-circle:hover .animated {
  -webkit-animation-name: flying;
  -moz-animation-name: flying;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

/* line 457, ../compass/sass/styles.scss */
.caret {
  width: 90px;
  border-radius: 0 0 90px 90px;
  -moz-border-radius: 0 0 90px 90px;
  -webkit-border-radius: 0 0 90px 90px;
  border-top: 45px solid black;
  margin-left: auto;
  margin-right: auto;
}

/* line 467, ../compass/sass/styles.scss */
.caret-purple {
  border-top: 45px solid rgba(178, 177, 207, 0.4);
}

/* line 470, ../compass/sass/styles.scss */
.caret-blue {
  border-top: 45px solid #98D3EA;
}

/* line 473, ../compass/sass/styles.scss */
.caret-light {
  border-top: 45px solid #E2EBFF;
}

/* line 476, ../compass/sass/styles.scss */
.caret-taupe {
  border-top: 45px solid #77615C;
}

/* line 480, ../compass/sass/styles.scss */
#about {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: #98D3EA;
  background: -webkit-linear-gradient(transparent, #98D3EA);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, #98D3EA);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, #98D3EA);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, #98D3EA 80%, #98D3EA);
  /* Standard syntax */
}
/* line 490, ../compass/sass/styles.scss */
#about .a-head {
  margin-bottom: 10px;
}
/* line 493, ../compass/sass/styles.scss */
#about .btn {
  text-shadow: 2px 2px 2px #E2EBFF;
}
/* line 496, ../compass/sass/styles.scss */
#about p {
  text-align: left;
}
/* line 499, ../compass/sass/styles.scss */
#about .links i {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  vertical-align: bottom;
  font-size: 20px;
  color: #42DCA3;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
  margin-bottom: 35px;
}
/* line 514, ../compass/sass/styles.scss */
#about .last {
  margin-right: 0 !important;
}

/* line 520, ../compass/sass/styles.scss */
#skills {
  color: white;
  text-shadow: 2px 2px 2px black;
  background: #E2EBFF;
  background: -webkit-linear-gradient(transparent, #E2EBFF);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, #E2EBFF);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, #E2EBFF);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, #E2EBFF 80%, #E2EBFF);
  /* Standard syntax */
}

/* line 530, ../compass/sass/styles.scss */
.well {
  background: #49392D;
  margin-left: 50px;
  height: 150px;
  overflow: hidden;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.7);
}

@media (min-width: 767px) {
  /* line 538, ../compass/sass/styles.scss */
  .content-section {
    padding-top: 50px;
  }
}
/* line 543, ../compass/sass/styles.scss */
.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 5px;
}

/* line 553, ../compass/sass/styles.scss */
.btn-default {
  border: 1px solid #fe3955;
  background-color: #fe3955;
}
/* line 557, ../compass/sass/styles.scss */
.btn-default:hover, .btn-default:focus {
  border: 1px solid #fe3955;
  outline: none;
  color: black;
  background-color: rgba(254, 57, 85, 0.4);
}

/* line 566, ../compass/sass/styles.scss */
.btn-primary {
  border: 1px solid #f16301;
  background-color: #f16301;
}
/* line 570, ../compass/sass/styles.scss */
.btn-primary:hover, .btn-primary:focus {
  border: 1px solid #f16301;
  outline: none;
  color: black;
  background-color: rgba(241, 99, 1, 0.4);
}

/* line 579, ../compass/sass/styles.scss */
.btn-danger {
  border: 1px solid #01d4f1;
  background-color: #01d4f1;
}
/* line 583, ../compass/sass/styles.scss */
.btn-danger:hover, .btn-danger:focus {
  border: 1px solid #01d4f1;
  outline: none;
  color: black;
  background-color: rgba(1, 212, 241, 0.4);
}

/* line 592, ../compass/sass/styles.scss */
.close {
  color: #00E676;
  opacity: 1;
  text-shadow: none;
}
/* line 596, ../compass/sass/styles.scss */
.close:hover, .close:focus {
  color: #00E676;
}

/* line 605, ../compass/sass/styles.scss */
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  /* line 605, ../compass/sass/styles.scss */
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  /* line 611, ../compass/sass/styles.scss */
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  /* line 615, ../compass/sass/styles.scss */
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

/* line 622, ../compass/sass/styles.scss */
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(178, 177, 207, 0.2);
}

/* line 628, ../compass/sass/styles.scss */
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(178, 177, 207, 0.2);
}

/* line 634, ../compass/sass/styles.scss */
img::selection {
  background: transparent;
}

/* line 638, ../compass/sass/styles.scss */
img::-moz-selection {
  background: transparent;
}

/* line 647, ../compass/sass/styles.scss */
.logo {
  max-height: 200px;
  -webkit-filter: drop-shadow(14px 0px 4px #111);
  filter: drop-shadow(14px 0px 4px #111);
}

@-webkit-keyframes twinkle_one {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes twinkle_one {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes twinkle_one {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes twinkle_one {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes twinkle_two {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes twinkle_two {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes twinkle_two {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes twinkle_two {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes twinkle_three {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes twinkle_three {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes twinkle_three {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes twinkle_three {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 740, ../compass/sass/styles.scss */
.head-space, .foot-space {
  z-index: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 747, ../compass/sass/styles.scss */
.head-space .star, .foot-space .star {
  position: absolute;
  background-color: #B2B1CF;
}
/* line 752, ../compass/sass/styles.scss */
.head-space .star-type1, .foot-space .star-type1 {
  width: 1px;
  height: 1px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px 1px #B2B1CF;
  box-shadow: 0 0 1px 1px #B2B1CF;
  -webkit-animation: twinkle_one 3s ease-in-out infinite;
  -moz-animation: twinkle_one 3s ease-in-out infinite;
  -o-animation: twinkle_one 3s ease-in-out infinite;
  animation: twinkle_one 3s ease-in-out infinite;
}
/* line 763, ../compass/sass/styles.scss */
.head-space .star-type2, .foot-space .star-type2 {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 1px #B2B1CF;
  box-shadow: 0 0 2px 1px #B2B1CF;
  -webkit-animation: twinkle_two 12s ease-in-out infinite;
  -moz-animation: twinkle_two 12s ease-in-out infinite;
  -o-animation: twinkle_two 12s ease-in-out infinite;
  animation: twinkle_two 12s ease-in-out infinite;
}
/* line 774, ../compass/sass/styles.scss */
.head-space .star-type3, .foot-space .star-type3 {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 0 #B2B1CF;
  box-shadow: 0 0 2px 0 #B2B1CF;
  -webkit-animation: twinkle_three 7s ease-in-out infinite;
  -moz-animation: twinkle_three 7s ease-in-out infinite;
  -o-animation: twinkle_three 7s ease-in-out infinite;
  animation: twinkle_three 7s ease-in-out infinite;
}

/* line 788, ../compass/sass/styles.scss */
footer {
  height: 250px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  text-shadow: 2px 2px 2px black;
  font: bold 16px sans-serif;
  display: inline-block;
  position: absolute;
  background: url(../css/img/sleepwell.jpg) 0px -370px;
  background-size: cover;
}
/* line 797, ../compass/sass/styles.scss */
footer p {
  margin: 0;
}
/* line 800, ../compass/sass/styles.scss */
footer .caret {
  border-top: 45px solid black;
  display: inherit;
  margin-bottom: 12px;
}

/* line 809, ../compass/sass/styles.scss */
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
/* line 819, ../compass/sass/styles.scss */
.footer-distributed h3 {
  color: #77615C;
  font: normal 48px 'Cookie', cursive;
  margin: 0;
  font-weight: bold;
}

/* line 826, ../compass/sass/styles.scss */
.footer-distributed h3 span {
  color: #B2B1CF;
}

/* line 830, ../compass/sass/styles.scss */
.footer-distributed h3 .l {
  color: #E2EBFF;
}

/* line 834, ../compass/sass/styles.scss */
.footer-distributed h3 .a {
  color: #98D3EA;
}

/* line 838, ../compass/sass/styles.scss */
.footer-distributed h5 span {
  color: #98D3EA;
}

/* Footer links */
/* line 844, ../compass/sass/styles.scss */
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

/* line 851, ../compass/sass/styles.scss */
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
/* line 860, ../compass/sass/styles.scss */
.footer-distributed .footer-center {
  vertical-align: bottom;
  text-align: center;
}

/* line 866, ../compass/sass/styles.scss */
.footer-distributed .fa-copyright:before {
  position: relative;
  left: -6px;
  top: -1px;
}
/* line 871, ../compass/sass/styles.scss */
.footer-distributed i.fa-copyright {
  top: 11px;
  left: 23px;
}
/* line 875, ../compass/sass/styles.scss */
.footer-distributed i.fa-copyright, .footer-distributed i.fa-map-marker {
  background-color: #33383b;
  color: #42DCA3;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  text-align: center;
}

/* line 889, ../compass/sass/styles.scss */
.footer-distributed .footer-center p {
  display: inline-block;
  color: #42DCA3;
  vertical-align: center;
  margin: 0;
}

/* line 896, ../compass/sass/styles.scss */
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

/* Footer Right */
/* line 905, ../compass/sass/styles.scss */
.footer-distributed .footer-right {
  text-align: right;
  margin-top: -40px;
}

/* line 910, ../compass/sass/styles.scss */
.footer-right .logo {
  max-height: 145px;
  -webkit-filter: drop-shadow(14px 0px 4px #111);
  filter: drop-shadow(14px 0px 4px #111);
}

/* line 916, ../compass/sass/styles.scss */
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

/* line 924, ../compass/sass/styles.scss */
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 932, ../compass/sass/styles.scss */
.footer-distributed .footer-icons {
  margin-top: 71px;
}

/* line 936, ../compass/sass/styles.scss */
.footer-distributed .footer-info {
  margin-right: 60px;
}

/* line 940, ../compass/sass/styles.scss */
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  vertical-align: bottom;
  font-size: 20px;
  color: #42DCA3;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  /* line 961, ../compass/sass/styles.scss */
  .footer-distributed {
    font: bold 14px sans-serif;
    background-color: black;
  }

  /* line 966, ../compass/sass/styles.scss */
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  /* line 975, ../compass/sass/styles.scss */
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/* line 981, ../compass/sass/styles.scss */
.well {
  padding: 11px;
}

/* entire container, keeps perspective */
/* line 986, ../compass/sass/styles.scss */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
/* line 990, ../compass/sass/styles.scss */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* line 994, ../compass/sass/styles.scss */
.flip-container, .front, .back {
  width: 300px;
  height: 260px;
}

/* flip speed goes here */
/* line 1000, ../compass/sass/styles.scss */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
/* line 1008, ../compass/sass/styles.scss */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
/* line 1017, ../compass/sass/styles.scss */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
/* line 1024, ../compass/sass/styles.scss */
.back {
  transform: rotateY(180deg);
}

/* line 1028, ../compass/sass/styles.scss */
.back-img {
  max-width: 300px;
  max-height: 260px;
  border-radius: 1000px;
}
