
#wrapper{
    height: 100vh;
}

.row{
    width: 100%;
    line-height: 0;
    /* height: 100%; */
}

.bg{
    width: 5.5555555%;
    display: inline-block;
    /* height: 100%; */
}

#wrapper:hover .bg{
    transform: scale(10, 1) translateX(50px) skew(360deg, 360deg);
    transition: all 4s ease-in;
    margin-left:  520px;
}

img{
    max-height: 100%;
    max-width: 100%;
}
